.app.dark {
    --bg-color:#0e0e75;
    --inverted-bg-color:#c9c9c9;

    --primary-color:rgb(26, 93, 26);
    --secongary-color:rgb(0, 255, 0);
    --inverted-primary-color:rgb(12, 43, 144);
    --inverted-secongary-color:rgb(130, 194, 255);


}